p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin-left: 20px;
}

.p1 {
  display: inline block;
  background-color: black;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  margin-bottom: 1px;
 }

.p2 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 2px;
 }

.p3 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 12px;
}

.ul {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px
}

